!!!
%html
  %head
    %meta{:charset=>'utf-8'}
    %meta{'http-equiv'=>'X-UA-Compatible', :content=>'IE=edge'}
    %meta{:name=>'viewport', :content=>'width=device-width, initial-scale=1'}
    %link(rel="stylesheet" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css")
    %link(rel="stylesheet" href="/css/styles.css")
    %title wraith donk
  %body
    %header
      %div{:class=>:title} Wraith Donk
      %nav
        %ul
          %li
            %a{:href=>'/'} Projects
    %section
      = yield
